<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 
				<!-- <property name="url" value="jdbc:mysql:///proj7am"/> -->
				<property name="url" value="jdbc:mysql:///ironproj1"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
				
</bean>
<bean id="empDAO" class="com.nt.dao.EmployeeDAOImpli">
<constructor-arg name="ds" ref="datasource"/>
</bean>
<bean id="empSER" class="com.nt.service.EmployeeSERVICEImpli">
<constructor-arg name="dao" ref="empDAO"/>
</bean>
<bean id="controller" class="com.nt.controller.EmployeeController">
<constructor-arg name="service" ref="empSER"/>
</bean>

</beans>
